div text {
    /*margin: 25px;*/
    border: 25px dashed black;
    /*padding: 25px;*/
}

div padding {
    border: 25px solid black;
}

div border {
    border: 25px solid black;
    color: green;
}

div margin {
    border: 25px solid black;

}
