/* playlist.css */

body {
    font-family: arial, sans-serif;
}

div {
    background-color: aqua;
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
}