
/* main content */
div#tv {
	margin: auto;
	width: 650px;
}

div#tvConsole {
	position: relative;
	background: url(tv.png) no-repeat top left;
	width: 372px;
	height: 299px;
	top: 0px;
	left: 0px;
	background-size:contain;
}

/* video */
div#videoDiv {
	position: relative;
	top: 29px;
	left: 36px;
}
video {
	background-color: black;
	width: 300px;
	height: 169px;
}